.App {
  text-align: center;
  background-color: rgb(208, 209, 211);
  background-image: "BW2.jpg";
}

nav {
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(33, 206, 153);
  color: rgb(47, 49, 54);
}

.nav-links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
}

.nav-list {
  cursor: pointer;
  padding: 10px;
}

.nav-logo {
  padding: 10px;
}

.about, .home {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 206, 153);
  margin-top: 5%;
  margin-bottom: 0%;
}
.aboutText {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
 /* background-color: rgb(255, 255, 255);*/
  margin: 5%;
  margin-bottom: 0;
  padding: 2%;
  border: rgb(47, 49, 54);
  text-align: center;
}

.profileImage {
  border-radius: 5px;
  padding: 25px;
  margin: 3%;
  /*background-color: rgb(255, 255, 255);*/
}

.resume {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 25px;
  margin: 3%;
  /*background-color: rgb(255, 255, 255);*/
}

.footer {
  justify-content: center;
  flex-direction: row;
  background-color: rgb(47, 49, 54);
}

.row {
  color: rgb(191, 190, 177);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.col1, .col2, .col3 {
  margin: auto;
}

.contactf{
  list-style-type: none;
}

@media all and (min-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
