.App {
  text-align: center;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(14, 167, 14);
  color: rgb(47, 49, 54);
}

.nav-links{
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
}

.nav-list{
  padding: 10px;
}

.nav-logo{
  padding: 10px;
}