.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(14, 167, 14);
  color:black;
}

.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
}