.coachingText {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: rgb(151, 151, 147);
   /* background-color: rgb(255, 255, 255);*/
    margin: 2%;
    margin-bottom: 0;
    padding: 2%;
    border: rgb(47, 49, 54);
    text-align: center;
  }

  .coachingTitle {
      color:  rgb(151, 151, 147);
  }
  
  .fundamentalimg {
      max-width: 100%;
      height: auto;
      width: 15%;
      height: 15%;
      margin-bottom: auto;
  }

  .coaching-list {
      list-style-type: none;
      text-decoration: none;
      text-align: center;
      max-width: 100%;
      height: auto;
  }