
nav {
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(37, 37, 38);
    color: rgb(47, 49, 54);
  }
  
  .nav-links {
    text-decoration: none;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
  }
  
  .nav-list {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    cursor: pointer;
    padding: 10px;
  }

  .nav-logo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(151, 151, 147);
    padding: 0;
    border: 0;
    margin: 0;
  }