
nav {
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(37, 37, 38);
    color: rgb(47, 49, 54);
  }
  
  .nav-links {
    text-decoration: none;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
  }
  
  .nav-list {
    text-decoration: none;
    color: rgb(191, 190, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    cursor: pointer;
    padding: 10px;
  }

  .nav-logo {
    color: rgb(151, 151, 147);
    padding: 0;
    border: 0;
    margin: 0;
  }

  a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

  @media screen and (max-width: 989px) {
    .nav-list {
      font-size: 100%;
    }

    .nav-links {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 498px) {
    nav {
      flex-direction: column;
    }
  }